.servicesCatalogTable td img
{
    width: 25px;
}

.nav.nav-tabs .nav-link 
{
    background-color: transparent;
    border: none;
}


.nav.nav-tabs .nav-link.active
{
    border-bottom: 1px solid darkgray;
} 
.uploadButtons
{
    margin-top: 40px;
}
.uploadButtons button
{
    display:block;
    color:gray;
}
.m-content
{
    padding:0px 0px;
}
.descTable
{
    width:220px;
}
.btn-link
{
    color: #212529;
}
.breadcrumsubheader
{
    padding: 0px 30px;
}


.m_datatable .m--img-rounded
{
    width:25px;
    height:25px;
}

.bundledesc
{
    width:55%;
}

thead tr
{
    background-color: #555;
    color:white;
}

.ServiceCatalogImage
{
   width:60px;
   text-align:center;
}

.servicesCatalogTable td
{
   vertical-align: middle;
}
.m-subheader {
    padding-top: 5px;
}

