
<div class="m-content " >

	<!--Begin::Section-->
	<div class="row ">

			<div class="col-xl-12" *ngIf="!isRoleAddViewOpen">
					<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height greyBackground">
							<div class="m-portlet__body">
									<button (click)="isRoleAddViewOpen=!isRoleAddViewOpen;" class="btn btn-default"><i class="fa fa-user-plus" ></i> Add New Role </button>
								<table class="table table-bordered RolesTableViewEdit">
										<tr>
											   <th  scope="col">Role</th>
											   <th  scope="col">Member Count</th>
											   <th  colspan="2" scope="col">Actions</th>
										</tr>
										<tr *ngFor="let role of roles; let i =index">
												<td>{{role.roleName}}</td>
												<td>{{role.memberCount}}</td>
												<td><button (click)="editRole(i)" class="btn m-btn--pill  btn-sm  btn-outline-warning" type="button">
														Edit
													</button>
												</td>
												<td>
														<button (click)="deleteRole(i)" class="btn m-btn--pill btn-sm    btn-outline-danger" type="button">
																Delete
															</button>
												</td>
										 </tr>
								</table>
							</div>
					</div>
			</div>

		<div class="col-xl-12 "  *ngIf="isRoleAddViewOpen">
			<!--begin:: Widgets/Top Products-->
			<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height greyBackground" style="padding-bottom: 30px;">
				<div class="m-portlet__body full-height-element">
						<button (click)="isRoleAddViewOpen=!isRoleAddViewOpen; editRoleIndex=undefined;" class="btn btn-link" style="padding:0px;"><i class="fa fa-chevron-left"  ></i> Back </button>
					<div class="form-group m-form__group">
						<label>
							Role Name:
						</label>
						<input [value]="(editRoleIndex!=undefined) ? roles[editRoleIndex].roleName : ''" class="form-control form-control-sm m-input" placeholder="Role Name" type="text" #roleName>
					</div>

					<table class="table table-bordered permissionsTableStaff">
						<thead>
						  <tr>
							<th scope="col">Permissions</th>
							<th scope="col">View (Global)</th>
							<th scope="col">View (Own)</th>
							<th scope="col">Create</th>
							<th scope="col">Edit</th>
							<th scope="col">Delete</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">Contracts</th>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input name="" type="checkbox">
										<span></span>
									</label>
								</span></td>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input checked="checked" name="" type="checkbox">
										<span></span>
									</label>
								</span></td>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input checked="checked" name="" type="checkbox">
										<span></span>
									</label>
								</span></td>

								<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
										<label>
											<input checked="checked" name="" type="checkbox">
											<span></span>
										</label>
									</span></td>

									<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
											<label>
												<input  name="" type="checkbox">
												<span></span>
											</label>
										</span></td>
						  </tr>
						  <tr>
							<th scope="row">Credit Notes</th>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input  name="" type="checkbox">
										<span></span>
									</label>
								</span></td>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input checked="checked" name="" type="checkbox">
										<span></span>
									</label>
								</span></td>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input name="" type="checkbox">
										<span></span>
									</label>
								</span></td>

								<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
										<label>
											<input  name="" type="checkbox">
											<span></span>
										</label>
									</span></td>

									<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
											<label>
												<input checked="checked" name="" type="checkbox">
												<span></span>
											</label>
										</span></td>
						  </tr>
						  <tr>
							<th scope="row">Customers</th>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input checked="checked" name="" type="checkbox">
										<span></span>
									</label>
								</span></td>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input checked="checked" name="" type="checkbox">
										<span></span>
									</label>
								</span></td>
							<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input name="" type="checkbox">
										<span></span>
									</label>
								</span></td>

								<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
										<label>
											<input  name="" type="checkbox">
											<span></span>
										</label>
									</span></td>

									<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
											<label>
												<input  name="" type="checkbox">
												<span></span>
											</label>
										</span></td>
						  </tr>

						  <tr>
								<th scope="row">Estimates</th>
								<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
										<label>
											<input checked="checked" name="" type="checkbox">
											<span></span>
										</label>
									</span></td>
								<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
										<label>
											<input checked="checked" name="" type="checkbox">
											<span></span>
										</label>
									</span></td>
								<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
										<label>
											<input checked="checked" name="" type="checkbox">
											<span></span>
										</label>
									</span></td>

									<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
											<label>
												<input checked="checked" name="" type="checkbox">
												<span></span>
											</label>
										</span></td>

										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input checked="checked" name="" type="checkbox">
													<span></span>
												</label>
											</span></td>
							  </tr>
						</tbody>
					  </table>

					  <button class="btn btn-primary pull-right" (click)="saveRole(roleName.value)" type="reset" style="margin-bottom:14px;">
							Save
						</button>

				</div>
			</div>
			<!--end:: Widgets/Top Products-->
		</div>


	</div>
</div>
