app-role-settings{
    width: 100% !important;
}
:host
{
    width: 100% !important;
}
.form-group label {
    font-size: 12px !important; 
   }


   app-role-settings {
    width: 100% !important;
}
/*
.m-body .m-content
 {
     padding:0px !important;
 }
 .m-portlet
 {
    margin: 0px;
    padding: 0px;
 }
 .full-height-element
 {
     height:99.95% !important;
 }
 */
 .greyBackground
 {
    background-color: #F2F3F8;
    box-shadow: none;
 }

 thead tr
 {
    background-color: #555;
    color: white;
 }

.m-content 
 {
    padding: 0px 0px;
 }
 .table th, .table td
 {
     vertical-align: middle;
 }
 .m-subheader {
    padding-top: 5px;
}
 