.m-portlet .m-portlet__head {
    border-bottom: 1px solid #ebedf2;
}

.agm-map{
    height: 400px;
}
.mcol {
    height: 100%;
} 

.m-content.m-content-nopadding{
    padding: 0px !important;
    margin-top: -14px;
}

m-widget4 m-widget4__item {
    cursor: grab;
    cursor: -webkit-grab;
}
.m-content {
    padding: 0px 30px !important;
}
.MuliSection {
    padding: 10px;
}

.m-widget4 .m-widget4__item .m-widget4__ext .m-widget4__number {
    font-size: 1rem !important;
}

.m-widget4 .m-widget4__item .m-widget4__ext {
    vertical-align: top;
}

.m-portlet.m-portlet--full-height .m-portlet__body {
    padding: 10px;
}

.reschedule{
    margin-top: 35px;
}

.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--logo img {
    height: 35px;
    width: 35px !important;
}

.m-portlet.m-portlet--bordered-semi[_ngcontent-c1] .m-portlet__head[_ngcontent-c1] {
    padding-left: 11px;
}


.m-portlet[_ngcontent-c1] .m-portlet__head[_ngcontent-c1] .m-portlet__head-caption[_ngcontent-c1] .m-portlet__head-title[_ngcontent-c1] .m-portlet__head-text[_ngcontent-c1] {
    padding-left: 15px;
}

.m-list-timeline__items[_ngcontent-c1] .m-list-timeline__item[_ngcontent-c1] .m-list-timeline__text[_ngcontent-c1] {
    font-size: 1rem;
}

.company-text {
    margin-left:20px;
    font-size: 0.85rem;
}

.company-text-1 {
    margin-left:20px;
    font-weight: 500 !important;
    display: block;
}

.dateFilter {
 margin-left: -51px;
}

.m--font-brand[_ngcontent-c1] {
	text-align: right;
}

hr[_ngcontent-c1] {
    margin-top: 0px;
    margin-bottom: 5px;
}

.m-subheader[_ngcontent-c1] {
    padding-top: 7px;
}

.m-subheader[_ngcontent-c1][_ngcontent-c1] {
    padding-top: 5px;
}
.m-content.m-content-nopadding[_ngcontent-c1]
{
    margin-top: -5px;
}