<div  appunwraptag="" class="m-subheader">
		<div  class="d-flex align-items-center">
			<div  class="mr-auto">
								<h3  class="m-subheader__title" style="display:inline-block">
								Staff Settings 
									<small >
									<a  href="javascript:;" style="text-decoration: none;color:grey;" ng-reflect-href="javascript:;"><i  class="fa fa-bar-chart" style="font-size: 0.9rem;"></i></a>
									</small>
	
									<small >
									<a  href="javascript:;" style="text-decoration: none;color:grey;" ng-reflect-href="javascript:;"><i  class="fa fa-search" style="font-size: 0.9rem;"></i></a>
									</small>
							</h3>
			</div>
	</div>
		
</div>

<div class="m-subheader breadcrumsubheader">
	
		<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a class="m-nav__link m-nav__link--icon" ng-reflect-href="#" routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="/dashboard">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
			
				<li class="m-nav__item">
					<a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Settings
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
						-
					</li>
				
					<li class="m-nav__item">
						<a class="m-nav__link" href="" ng-reflect-href="">
							<span class="m-nav__link-text">
								Staff Settings
							</span>
						</a>
					</li>
			</ul>
</div>

<div class="m-content">
<div class="m-portlet m-portlet--mobile">
<div class="m-portlet__body">
<div class="row" >
<div class="col-md-12">
			<div class="row full-height" [class.d-none]="!isDisplayStaffEditAndSee">
				<div class="col-xl-2 ghostWhiteColorSideBar" >
						<div class="nav flex-column nav-pills" aria-orientation="vertical">
								<a class="nav-link active" data-toggle="pill" href="#m_section_1" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
								<!--a class="nav-link" data-toggle="pill" href="#calendar-tab" role="tab">Calendar</a-->
								<a class="nav-link" data-toggle="pill" href="#m_section_2" role="tab">Permissions</a>
								<a class="nav-link" data-toggle="pill" href="#m_section_3" role="tab">Schedules</a>
								<a class="nav-link" data-toggle="pill" href="#m_section_4" role="tab">Payroll/Wage</a>
								<a class="nav-link" data-toggle="pill" href="#m_section_5" role="tab">Advanced</a>								 
						</div>

					<!--div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
						<ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">
						
							<li><button class="btn btn-link" (click)="isDisplayStaffEditAndSee=false;" ><i class="fa fa-chevron-left"></i> Back</button></li>
							
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" href="#" ng-reflect-href="#">
									<span class="m-nav__link-text">
										Profile
									</span>
								</a>
							</li>
							
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_2" href="#" ng-reflect-href="#">
									<span class="m-nav__link-text">
										Permissions
									</span>
								</a>
							</li>

							<li class="m-nav__item">
									<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_3" href="#" ng-reflect-href="#">
										<span class="m-nav__link-text">
											Schedules
										</span>
									</a>
								</li>
								<li class="m-nav__item">
										<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_4" href="#" ng-reflect-href="#">
											<span class="m-nav__link-text">
												Payroll/Wage
											</span>
										</a>
									</li>


									<li class="m-nav__item">
											<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_5" href="#" ng-reflect-href="#">
												<span class="m-nav__link-text">
													Advanced
												</span>
											</a>
										</li>
						</ul>
					</div-->
				</div>
				<div class="col-xl-9">
						<button (click)="isDisplayStaffEditAndSee=!isDisplayStaffEditAndSee; editStaffIndex=undefined;" class="btn btn-link" style="padding:0px;"><i class="fa fa-chevron-left"  ></i> Back </button>
					<div class="tab-content">
						
						<div class="tab-pane active" id="m_section_1">
						
                            <div class="row">
                                <div class="col-md-12">
									
                                       <h6 style="margin-top:15px;" class="text-center">Profile Information</h6>
                                       
                                       <div class="form-group m-form__group">
                                            <label for="input1">
                                                First Name:
                                            </label>
                                            <input [value]="(editStaffIndex!=undefined) ? staffs[editStaffIndex].Name : ''"  aria-describedby="input1"  class="form-control form-control-sm m-input" id="exampleInputEmail1" placeholder="First Name" type="text" #firstNameStaff>
                                        </div>


                                        <div class="form-group m-form__group">
                                                <label for="input2">
                                                    Last Name:
                                                </label>
                                                <input aria-describedby="input2" class="form-control form-control-sm m-input" id="exampleInputEmail1" placeholder="Last Name" type="text" #lastNameStaff>
                                            </div>


                                            <div class="form-group m-form__group">
                                                    <label for="label3">
                                                        Date Of Birth:
                                                    </label>
                                                    <input aria-describedby="emailHelp" class="form-control form-control-sm m-input" id="label3" placeholder="DOB" type="text">
												</div>
												
												<div class="form-group m-form__group">
														<label >
															Company Location:
														</label>
														<select class="form-control form-control-sm m-input" type="text">
														<option selected="">Default Location</option>
														<option>1st Location</option>
														<option>2nd Location</option>
														<option>The Median Location</option>
														<option>Green Location -4th</option>
														<option>The Last Location</option>
														</select>
												</div>



                                                <div class="form-group m-form__group">
                                                        <label for="label3">
                                                            Facebook:
                                                        </label>
                                                        <input aria-describedby="emailHelp" class="form-control form-control-sm m-input" id="label4" placeholder="Facebook Link" type="text">
                                                    </div>

                                                    <div class="form-group m-form__group">
                                                            <label for="label3">
                                                                Twitter:
                                                            </label>
                                                            <input aria-describedby="emailHelp" class="form-control form-control-sm m-input" id="label4" placeholder="Facebook Link" type="text">
                                                        </div>

                                                        <div class="form-group m-form__group">
                                                                <label for="label3">
                                                                    Instagram:
                                                                </label>
                                                                <input aria-describedby="emailHelp" class="form-control form-control-sm m-input" id="label4" placeholder="Instagram Link" type="text">
                                                        </div>

                                                        <div class="form-group m-form__group">
                                                                <label for="label3">
                                                                    Linkedin:
                                                                </label>
                                                                <input aria-describedby="emailHelp" class="form-control form-control-sm m-input" id="label4" placeholder="Linkedin Link" type="text">
                                                        </div>


                                                        <div class="form-group m-form__group">
                                                                <label for="label3">
                                                                   Address:
                                                                </label>
                                                                <textarea class="form-control m-input"  rows="3"></textarea>  </div>

                                                        <div class="form-group m-form__group">
                                                                <label for="exampleTextarea">
                                                                    Description:
                                                                </label>
                                                                <textarea class="form-control m-input"  rows="3"></textarea>
                                                            </div>

                                                            <div class="form-group m-form__group">
                                                                    <label for="exampleTextarea">
                                                                        Contact Number:
                                                                    </label>
                                                            <input class="form-control-sm form-control m-input" id="example-tel-input" type="tel" value="1-(555)-555-5555">
                                                            </div>


                                                            <div class="m-form__group form-group">
                                                                    <label>
                                                                        Memmber Departments
                                                                    </label>
                                                                    <div class="m-checkbox-list">
                                                                        <label class="m-checkbox m-checkbox--square">
                                                                            <input type="checkbox">
                                                                            Support
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="m-checkbox m-checkbox--square">
                                                                            <input checked="checked" type="checkbox">
                                                                            Administrator
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="m-checkbox m-checkbox--square">
                                                                            <input type="checkbox">
                                                                            Sales
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                   
                                                                </div>


                                                                <div class="form-group m-form__group">
                                                                        <label for="exampleInputEmail1">
                                                                            File Browser
                                                                        </label>
                                                                        <div></div>
                                                                        <div class="custom-file">
                                                                            <input class="custom-file-input" id="customFile" type="file">
                                                                            <label class="custom-file-label" for="customFile">
                                                                                Choose file
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                </div>
                            </div>
						</div>
						                      
						<div class="tab-pane" id="m_section_2">
							<h6 class="text-center">
								Permissions
							</h6>
							<div class="form-group m-form__group">
									<label>
										Role
									</label>
									<select class="form-control m-input form-control-sm">
										<option>
											Employee
										</option>
										<option>
											Customer
										</option>
										<option>
											Developer
										</option>
										<option>
											Management
										</option>
										<option>
											HR
										</option>
									</select>
								</div>
							<table class="table table-bordered permissionsTableStaff">
									<thead>
									  <tr>
										<th scope="col">Permissions</th>
										<th scope="col">View (Global)</th>
										<th scope="col">View (Own)</th>
										<th scope="col">Create</th>
										<th scope="col">Edit</th>
										<th scope="col">Delete</th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<th scope="row">Contracts</th>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input name="" type="checkbox">
													<span></span>
												</label>
											</span></td>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input checked="checked" name="" type="checkbox">
													<span></span>
												</label>
											</span></td>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input checked="checked" name="" type="checkbox">
													<span></span>
												</label>
											</span></td>

											<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
													<label>
														<input checked="checked" name="" type="checkbox">
														<span></span>
													</label>
												</span></td>

												<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
														<label>
															<input  name="" type="checkbox">
															<span></span>
														</label>
													</span></td>
									  </tr>
									  <tr>
										<th scope="row">Credit Notes</th>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input  name="" type="checkbox">
													<span></span>
												</label>
											</span></td>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input checked="checked" name="" type="checkbox">
													<span></span>
												</label>
											</span></td>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input name="" type="checkbox">
													<span></span>
												</label>
											</span></td>

											<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
													<label>
														<input  name="" type="checkbox">
														<span></span>
													</label>
												</span></td>

												<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
														<label>
															<input checked="checked" name="" type="checkbox">
															<span></span>
														</label>
													</span></td>
									  </tr>
									  <tr>
										<th scope="row">Customers</th>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input checked="checked" name="" type="checkbox">
													<span></span>
												</label>
											</span></td>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input checked="checked" name="" type="checkbox">
													<span></span>
												</label>
											</span></td>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
												<label>
													<input name="" type="checkbox">
													<span></span>
												</label>
											</span></td>

											<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
													<label>
														<input  name="" type="checkbox">
														<span></span>
													</label>
												</span></td>

												<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
														<label>
															<input  name="" type="checkbox">
															<span></span>
														</label>
													</span></td>
									  </tr>

									  <tr>
											<th scope="row">Estimates</th>
											<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
													<label>
														<input checked="checked" name="" type="checkbox">
														<span></span>
													</label>
												</span></td>
											<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
													<label>
														<input checked="checked" name="" type="checkbox">
														<span></span>
													</label>
												</span></td>
											<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
													<label>
														<input checked="checked" name="" type="checkbox">
														<span></span>
													</label>
												</span></td>
	
												<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
														<label>
															<input checked="checked" name="" type="checkbox">
															<span></span>
														</label>
													</span></td>
	
													<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
															<label>
																<input checked="checked" name="" type="checkbox">
																<span></span>
															</label>
														</span></td>
										  </tr>
									</tbody>
								  </table>
							
						</div>


						<div class="tab-pane" id="m_section_3">
								<div class="form-group m-form__group">
										<label >
											Select Schedule:
										</label>
										<select class="form-control form-control-sm m-input" type="text">
										<option selected="">Default</option>
										<option>901 Kin Street</option>
										<option>The Park Lane </option>
										<option>The Median Location</option>
										</select>
								</div>
						</div>

						<div class="tab-pane" id="m_section_4">
								<div class="form-group m-form__group">
										<label>
											Base Hourly Rate
										</label>
										<div class="m-input-icon m-input-icon--left">
											<input class="form-control m-input" placeholder="Hourly Rate" type="text">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="fa fa-usd"></i>
												</span>
											</span>
										</div>
									</div>



									<div class="form-group m-form__group">
											<label>
												MAX HOURS / WEEK
											</label>
											<input  class="form-control m-input"  type="number" min="0" value="12">
											
										</div>
						</div>


						<div class="tab-pane" id="m_section_5">
								<div class="form-group m-form__group">
										<label for="exampleTextarea">
											Notes:
										</label>
										<textarea class="form-control m-input"  rows="3"></textarea>
									</div>

									<div class="form-group m-form__group">
											<label>
												Company Timezone:
											</label>
											<select class="form-control m-input">
												   
													<option value="Etc/GMT+12">(GMT-12:00) International Date Line West</option>
													<option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
													<option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
													<option value="US/Alaska">(GMT-09:00) Alaska</option>
													<option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
													<option value="America/Tijuana">(GMT-08:00) Tijuana, Baja California</option>
													<option value="US/Arizona">(GMT-07:00) Arizona</option>
													<option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
													<option value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)</option>
													<option value="America/Managua">(GMT-06:00) Central America</option>
													<option value="US/Central">(GMT-06:00) Central Time (US & Canada)</option>
													<option value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
													<option value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
													<option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
													<option value="US/Eastern">(GMT-05:00) Eastern Time (US & Canada)</option>
													<option value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
													<option value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)</option>
													<option value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
													<option value="America/Manaus">(GMT-04:00) Manaus</option>
													<option value="America/Santiago">(GMT-04:00) Santiago</option>
													<option value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
													<option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
													<option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires, Georgetown</option>
													<option value="America/Godthab">(GMT-03:00) Greenland</option>
													<option value="America/Montevideo">(GMT-03:00) Montevideo</option>
													<option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
													<option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
													<option value="Atlantic/Azores">(GMT-01:00) Azores</option>
													<option value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
													<option value="Etc/Greenwich">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
													<option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
													<option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
													<option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
													<option value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
													<option value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
													<option value="Asia/Amman">(GMT+02:00) Amman</option>
													<option value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul</option>
													<option value="Asia/Beirut">(GMT+02:00) Beirut</option>
													<option value="Africa/Cairo">(GMT+02:00) Cairo</option>
													<option value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
													<option value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
													<option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
													<option value="Europe/Minsk">(GMT+02:00) Minsk</option>
													<option value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
													<option value="Asia/Kuwait">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
													<option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
													<option value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
													<option value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
													<option value="Asia/Tehran">(GMT+03:30) Tehran</option>
													<option value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
													<option value="Asia/Baku">(GMT+04:00) Baku</option>
													<option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
													<option value="Asia/Kabul">(GMT+04:30) Kabul</option>
													<option value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
													<option value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
													<option value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
													<option value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
													<option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
													<option value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
													<option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
													<option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
													<option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
													<option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
													<option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
													<option value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore</option>
													<option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
													<option value="Australia/Perth">(GMT+08:00) Perth</option>
													<option value="Asia/Taipei">(GMT+08:00) Taipei</option>
													<option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
													<option value="Asia/Seoul">(GMT+09:00) Seoul</option>
													<option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
													<option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
													<option value="Australia/Darwin">(GMT+09:30) Darwin</option>
													<option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
													<option value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne, Sydney</option>
													<option value="Australia/Hobart">(GMT+10:00) Hobart</option>
													<option value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
													<option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
													<option value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
													<option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
													<option value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
													<option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
												 </select>
									</div>


									<div class="form-group m-form__group">
											<label>
												Employee ID:
											</label>
											<input class="form-control m-input"  rows="3">
										</div>

						</div>
						

						                    
						
						
					</div>
					<button class="btn btn-primary" (click) = "saveStaff(firstNameStaff.value , lastNameStaff.value)">Save</button>
				</div>
			</div>


			<div class="row" [class.d-none]="isDisplayStaffEditAndSee">
				<div class="col-md-12" >
				<button class="btn btn-default" style="margin-bottom:20px;" (click)="isDisplayStaffEditAndSee = !isDisplayStaffEditAndSee;"><i class="fa fa-user-plus"></i> New Member Staff </button>
				<div class="table table-responsive">
				<table class="table table-bordered table-striped MembersTableViewEdit">
						<thead>
						  <tr>
							 <th></th>
							<th scope="col">Staff Member</th>
							<th scope="col">Email</th>
							<th scope="col">Last Login</th>
							<th scope="col">Active</th>
							<th scope="col" colspan="2">Actions</th>
						  </tr>
						</thead>
						<tbody>
								<tr *ngFor="let staff of staffs; let i = index">
										<td><img [src]="staff.Pic" ></td>
										<td>{{staff.Name}}</td>
										<td>{{staff.Mail}}</td>
										<td>{{staff.lastLogin}}</td>
										<td><span class="m-switch m-switch--sm m-switch--outline m-switch--icon m-switch--success">
											<label><input [checked]="staff.active"  name="" type="checkbox"><span></span></label></span></td>
										<td><button (click)="editStaff(i)" class="btn m-btn--pill btn-sm   btn-outline-warning" type="button">
												Edit
											</button></td>
		
											<td><button (click)="deleteStaff(i)" class="btn m-btn--pill  btn-sm  btn-outline-danger" type="button">
												Delete
												</button></td>
								</tr>
						</tbody>
					  </table>
					  </div>
				</div>
			</div>
		
	

</div>

</div>
</div>
</div>
</div>