<div  appunwraptag="" class="m-subheader">
		<div  class="d-flex align-items-center">
			<div  class="mr-auto">
								<h3  class="m-subheader__title" style="display:inline-block">
								Staff Settings 
									<small >
									<a  href="javascript:;" style="text-decoration: none;color:grey;" ng-reflect-href="javascript:;"><i  class="fa fa-bar-chart" style="font-size: 0.9rem;"></i></a>
									</small>
	
									<small >
									<a  href="javascript:;" style="text-decoration: none;color:grey;" ng-reflect-href="javascript:;"><i  class="fa fa-search" style="font-size: 0.9rem;"></i></a>
									</small>
							</h3>
			</div>
	</div>
		
</div>

<div class="m-subheader breadcrumsubheader">
	
		<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a class="m-nav__link m-nav__link--icon" ng-reflect-href="#" routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="/dashboard">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
			
				<li class="m-nav__item">
					<a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Settings
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
						-
					</li>
				
					<li class="m-nav__item">
						<a class="m-nav__link" href="" ng-reflect-href="">
							<span class="m-nav__link-text">
								Staff Settings
							</span>
						</a>
					</li>
			</ul>
</div>


<div class="m-portlet m-portlet--mobile">
<div class="m-portlet__body">
		<app-wizard-wizard-3></app-wizard-wizard-3>

</div>

</div>
	