.m-nav .m-nav__item a .m-nav__link-text
{
    font-size:14px;
}


.form-group label {
     font-size: 12px !important; 
    }

.permissionsTableStaff th , permissionsTableStaff td
{
    font-size: 12px;
    font-weight: 500;
}
.permissionsTableStaff tbody tr td:nth-child(2)
{
    text-align: center;

}
app-staff-settings{
    width: 100% !important;
}
:host
{
    width: 100% !important;
}
/*
.m-content
{
    padding: 10px 30px 45px 30px;
}
*/
.m-tabs .m-nav .m-nav__item a
{
    padding: 3px 21px;
}

.MembersTableViewEdit tbody tr td:nth-child(1)
{
    text-align: center;
}
.MembersTableViewEdit tbody tr td:nth-child(1) img
{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content .m-portlet.m-portlet--space
{
    padding-left: 0px;
}
.m-portlet.m-portlet--space
{
    padding-left:0px;
}
.ghostWhiteColorSideBar
{
    background-color: ghostwhite;
    padding: 15px 25px;
}
/*.m-content , .full-height
{
    height:100%;
}
*/
.m-subheader {
    padding-top: 5px;
}

thead tr
{
   background-color: #555;
   color: white;
}

.m-content 
{
   padding: 0px 0px;
}
.table th, .table td
{
    vertical-align: middle;
}

.fa {
    font-size: 25px;
}
