<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Resolution Center
                <search-button style="display: inline-block; font-size: 0.9rem !important;"></search-button>
            </h3>


        </div>

        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="javascript:;" class="m-nav__link" data-toggle="modal" data-target="#c_modal_support">
                                            <i class="m-nav__link-icon fa fa-plus"></i>
                                            <span class="m-nav__link-text">
                                                New Ticket
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-subheader breadcrumsubheader">
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a class="m-nav__link m-nav__link--icon" routerLink="/dashboard" ng-reflect-href="#">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a class="m-nav__link" href="" ng-reflect-href="">
                <span class="m-nav__link-text">
                    Resolution Center </span>
            </a>
        </li>
    </ul>
</div>
<hr class="customhr" />


<div class="m-content" style="padding-top: 0px">

    <!-- ___________complaints ______________ -->
    <div class="row" [hidden]="!complaints">


        <div class="col-md-5">
            <h3 class="m-subheader__title titleComplaints titles">
                Dispute Table
            </h3>
            <div class="m-section">
                <div class="m-section__content">
                    <table class="table table-striped m-table">
                        <thead>
                            <tr class="active">
                                <th>
                                    #
                                </th>
                                <th>
                                    Service
                                </th>
                                <th>
                                    Customer
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="custom-hover" (click)="activeRow(1)" [ngClass]="firstRowActive == true ? 'active-row-class': '' ">
                                <th scope="row">
                                    1
                                </th>
                                <td>
                                    Oil & Oil Filter Changing
                                </td>
                                <td>
                                    Jhon Doe
                                </td>
                            </tr>
                            <tr class="custom-hover" (click)="activeRow(2)" [ngClass]="secondRowActive == true ? 'active-row-class': '' ">
                                <th scope="row">
                                    2
                                </th>
                                <td>
                                    Fancy Cutting
                                </td>
                                <td>
                                    Max Khan
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-7 titleComplaints" [hidden]="disputeRightSideActive">
            <img src="./assets/app/media/img/dispute.png" class="mx-auto d-block">
        </div>

        <div class="col-md-4 titleComplaints" [hidden]="!disputeRightSideActive">
            <!-- _______scroable goes here_______ -->
            <!--Begin::Timeline 2 -->
            <h3 class="m-subheader__title titleComplaints titles">
                Details / Handle Dispute
            </h3>
            <div class="tab-pane" id="finance-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#general_finance" role="tab" data-toggle="tab" (click)="feedBack = false">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#invoices_finance" role="tab" data-toggle="tab" (click)="feedBack = true">Feedback</a>
                    </li>



                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="general_finance">
                        <div class="m-timeline-2" style="left:2.89rem;">
                            <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">


                                <div class="m-timeline-2__item job-width" [hidden]="!firstRowActive">

                                    <div class="m-timeline-2__item-text  m--padding-top-5">
                                        <div class="card-content">
                                            <div class="m-widget3__item">
                                                <div class="m-widget3__header">
                                                    <div class="m-widget3__user-img">
                                                        <span>
                                                            Oil & Oil Filter Changing
                                                        </span>
                                                    </div>
                                                    <div class="m-widget3__info">
                                                        <br>

                                                        <p class="card-job-title purple">
                                                            <span class="card-job-pay m-link m--font-bolder m-widget4__number" style="float: right;">
                                                                $120.00
                                                            </span>
                                                        </p>


                                                    </div>
                                                </div>
                                                <div class="m-widget3__body">
                                                    <p class="m-widget3__text card-job-description">
                                                        Detail Goes Here.....
                                                        <br> Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam
                                                        nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat
                                                        volutpat. Lorem ipsum dolor sit amet,consectetuer edipiscing elit
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <!--Timeline 2 text-->
                                </div>
                                <div class="m-timeline-2__item job-width" [hidden]="!secondRowActive">

                                    <div class="m-timeline-2__item-text  m--padding-top-5">
                                        <div class="card-content">
                                            <div class="m-widget3__item">
                                                <div class="m-widget3__header">
                                                    <div class="m-widget3__user-img">
                                                        <span>
                                                            Fancy Cutting
                                                        </span>
                                                    </div>
                                                    <div class="m-widget3__info">
                                                        <br>

                                                        <p class="card-job-title purple">
                                                            <span class="card-job-pay m-link m--font-bolder m-widget4__number" style="float: right;">
                                                                $100.00
                                                            </span>
                                                        </p>


                                                    </div>
                                                </div>
                                                <div class="m-widget3__body">
                                                    <p class="m-widget3__text card-job-description">
                                                        Detail Goes Here.....
                                                        <br> Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam
                                                        nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat
                                                        volutpat. Lorem ipsum dolor sit amet,consectetuer edipiscing elit
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <!--Timeline 2 text-->
                                </div>
                                <!--Job width-->

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="invoices_finance">
                        <div class="m-timeline-2" style="left:2.89rem;">
                            <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">


                                <div class="m-timeline-2__item job-width" [hidden]="!firstRowActive">

                                    <div class="m-timeline-2__item-text  m--padding-top-5">
                                        <div class="card-content">
                                            <div class="m-widget3__item">
                                                <div class="m-widget3__header">
                                                    <div class="m-widget3__user-img">
                                                        <span>
                                                            Jhon Doe
                                                        </span>
                                                    </div>
                                                    <div class="m-widget3__info">
                                                        <br>

                                                        <p class="card-job-title purple">Service Not Recieved
                                                            <br>
                                                            <a class="btn btn-link btn-sm chatServiceButton" href="" ng-reflect-href="">
                                                                <i class="la la-comments"></i> Message</a>
                                                        </p>


                                                    </div>
                                                </div>
                                                <div class="m-widget3__body">
                                                    <p class="m-widget3__text card-job-description">
                                                        Detail Goes Here.....
                                                        <br> Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam
                                                        nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat
                                                        volutpat. Lorem ipsum dolor sit amet,consectetuer edipiscing elit
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <!--Timeline 2 text-->
                                </div>
                                <div class="m-timeline-2__item job-width" [hidden]="!secondRowActive">
                                    <div class="m-timeline-2__item-text  m--padding-top-5">
                                        <div class="card-content">
                                            <div class="m-widget3__item">
                                                <div class="m-widget3__header">
                                                    <div class="m-widget3__user-img">
                                                        <span>
                                                            Max Khan
                                                        </span>
                                                    </div>
                                                    <div class="m-widget3__info">
                                                        <br>

                                                        <p class="card-job-title purple">Money Refund
                                                            <br>
                                                            <a class="btn btn-link btn-sm chatServiceButton" href="" ng-reflect-href="">
                                                                <i class="la la-comments"></i> Message</a>
                                                        </p>


                                                    </div>
                                                </div>
                                                <div class="m-widget3__body">
                                                    <p class="m-widget3__text card-job-description">
                                                        Detail Goes Here.....
                                                        <br> Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam
                                                        nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat
                                                        volutpat. Lorem ipsum dolor sit amet,consectetuer edipiscing elit
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <!--Timeline 2 text-->
                                </div>
                                <!--Job width-->

                            </div>
                        </div>
                    </div>





                </div>

            </div>
            <!--End::Timeline 2 -->
            <!--End: TimeLine Scrolable-->
            <!--End: TimeLine Scrolable-->
        </div>
        <div class="col-md-3" [hidden]="!feedBack">
            <label class="m--font-danger" style="font-weight: 500; margin-top: 100px;">
                <span>*Choose Below Option Accordingly</span>
            </label>
            <div class="form-group m-form__group">
                <label for="exampleSelect1">
                    Order Status
                </label>
                <select name="status" id="order_status" class="form-control m-input m-input--air">
                    <option value="ORDERED">ORDERED</option>
                    <option value="RECEIVED">RECEIVED</option>
                    <option value="ASSIGNED">ASSIGNED</option>
                    <option value="PROCESSING">PROCESSING</option>
                    <option value="REACHED">REACHED</option>
                    <option value="PICKEDUP">PICKEDUP</option>
                    <option value="ARRIVED">ARRIVED</option>
                    <option value="COMPLETED">COMPLETED</option>
                    <option value="CANCELLED" selected="selected">CANCELLED</option>
                </select>
            </div>
            <div class="form-group m-form__group">
                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <span class="m-form__help">
                    We'll never share your order id with anyone else.
                </span>
            </div>
            <button class="btn btn-primary m-btn m-btn--custom" type="button">
                Submit
            </button>
        </div>
    </div>
</div>