
.complaintsCard {
    margin-bottom: 5px;
    margin-left: 15px;
}

.cardBorder {
    border: 0px;
    margin-bottom: 5px;
}

.titleComplaints {
    /* margin-left: 15px; */
    margin-bottom: 15px;
    /* margin-top: 10px; */
}

.custom-image-setting-icon{
    width: 25px;
    height: 25px;
}

.custom-float-right{
    float: right;
}

.custom-badge-setting{
    height: 10px;
    float:right;
    margin-bottom: 3px;
}

.custom-hover:hover{
    background-color: lightyellow; 
}

.active-row-class{
    background-color: white !important; 
}

.custom-image-setting{
    width: 45px;
    height: 45px;
}

.details {
    margin-bottom: 15px;
}

.btnGroup {
    margin-top: 55px;
}

.titles {
    margin-left: 15px;
}

.disputeImg{
    float: right;
    margin-top: 12px;
}
.m-timeline-2:before {
    left: 1rem;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
    padding-left:  15px;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
    padding-left: 15px;
}