
        <small class="fa fa-search text-muted stats-icons" style=" margin-left: 0px; font-size: 0.9rem" (click)="search=!search" *ngIf="search">
                <a style="cursor:pointer;">
                </a>
            </small>
            <small *ngIf="!search" class="input-group" >
                            <div class="input-group-prepend">
                                    <span style="width: 14.3px;
                                    height: 15px;" class="input-group-text fa fa-search text-muted stats-icons" id="basic-addon1" (click)="search=!search" style=" margin-left: 0px; font-size: 0.9rem"></span>
                                  </div>
                    <input type="text" class="form-control m-input filterStyle customFilterStyle">
            </small>
