
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <!--Begin::Main Portlet-->
            <div class="m-portlet">
                <!--begin: Portlet Head-->
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Client Registration
                                <small>
                                    form wizard example
                                </small>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                                    <i class="flaticon-info m--icon-font-size-lg3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end: Portlet Head-->  			<!--begin: Form Wizard-->
                <div class="m-wizard m-wizard--1 m-wizard--success" id="m_wizard">
                    <!--begin: Message container -->
                    <div class="m-portlet__padding-x">
                        <!-- Here you can put a message or alert -->
                    </div>
                    <!--end: Message container -->  				<!--begin: Form Wizard Head -->
                    <div class="m-wizard__head m-portlet__padding-x" style="margin:0px;">
                        <!--begin: Form Wizard Progress -->
                        <div class="m-wizard__progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!--end: Form Wizard Progress -->  					<!--begin: Form Wizard Nav -->
                        <div class="m-wizard__nav">
                            <div class="m-wizard__steps">
                                <div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
                                    <div class="m-wizard__step-info">
                                        <a href="#" class="m-wizard__step-number">
											<span>
												<span>
													1
												</span>
											</span>
                                        </a>
                                        <div class="m-wizard__step-line">
                                            <span></span>
                                        </div>
                                        <div class="m-wizard__step-label">
                                            Client Information
                                        </div>
                                    </div>
                                </div>
                                <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_2">
                                    <div class="m-wizard__step-info">
                                        <a href="#" class="m-wizard__step-number">
											<span>
												<span>
													2
												</span>
											</span>
                                        </a>
                                        <div class="m-wizard__step-line">
                                            <span></span>
                                        </div>
                                        <div class="m-wizard__step-label">
                                            Company Information
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_3">
                                    <div class="m-wizard__step-info">
                                        <a href="#" class="m-wizard__step-number">
											<span>
												<span>
													3
												</span>
											</span>
                                        </a>
                                        <div class="m-wizard__step-line">
                                            <span></span>
                                        </div>
                                        <div class="m-wizard__step-label">
                                            Confirmation
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Nav -->
                    </div>
                    <!--end: Form Wizard Head -->  				<!--begin: Form Wizard Form-->
                    <div class="m-wizard__form">
                        <!-- 						1) Use m-form--label-align-left class to alight the form input lables to the right 						2) Use m-form--state class to highlight input control borders on form validation 					-->
                        <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
                            <!--begin: Form Body -->
                            <div class="m-portlet__body" style="padding-top:-0px;">
                                <!--begin: Form Wizard Step 1-->
                                <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                                    <div class="row">
                                        <div class="col-xl-8 offset-xl-2">
                                            <div class="m-form__section m-form__section--first">
                                                <div class="col-md-12 text-center">
                                                    <img src="./assets/app/media/img/users/300_2.jpg" style="width:130px; height:130px;">
                                                </div>

                                                <div class="m-form__heading">
                                                    <h3 class="m-form__heading-title">
                                                        Client Details
                                                    </h3>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        * Name:
                                                    </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone">
                                                        <span class="m-form__help">
															Enter Your Full Name
														</span>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        * Email:
                                                    </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        <input type="email" name="email" class="form-control m-input" placeholder="" value="nick.stone@gmail.com">
                                                        <span class="m-form__help">
															Enter Your Email
														</span>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        * Phone
                                                    </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
																<span class="input-group-text">
																	<i class="la la-phone"></i>
																</span>
                                                            </div>
                                                            <input type="text" name="phone" class="form-control m-input" placeholder="" value="1-541-754-3010">
                                                        </div>
                                                        <span class="m-form__help">
															Enter Your Phone Number
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                              <div class="m-form__section">
                                              
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        * Address Line 1:
                                                    </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                                                        <!-- <input type="text" name="address1" class="form-control m-input" placeholder="" value="Headquarters 1120 N Street Sacramento 916-654-5266"> -->
                                                        <span class="m-form__help">
															Street address, P.O. box, company name, c/o
														</span>
                                                    </div>
                                                </div>
                                              
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        * City:
                                                    </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                            <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"> -->
                                                        <input type="text" name="city" class="form-control m-input" placeholder="" value="{{clientMainCity}}">
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        * State:
                                                    </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        <input type="text" name="state" class="form-control m-input" placeholder="" value="{{clientState}}">
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * Country:
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <input type="text" name="country" class="form-control m-input" placeholder="" value="{{clientCountry}}">
                                                        </div>
                                                    </div>

                                                <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * Password:
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <input type="password" name="password" class="form-control m-input" placeholder="" value="California">
                                                        </div>
                                                    </div>

                                                    <div class="form-group m-form__group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">
                                                                *Confirm Password:
                                                            </label>
                                                            <div class="col-xl-9 col-lg-9">
                                                                <input type="password" name="password" class="form-control m-input" placeholder="">
                                                            </div>
                                                        </div>
                                                <div class="form-group m-form__group row" class="country">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        * Country:
                                                    </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        <select name="country" class="form-control m-input">
                                                            <option value="AF" selected>
                                                                Afghanistan
                                                            </option>
                                                          
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                        <div class="m-form__heading">
                                                                <h3 class="m-form__heading-title">
                                                                    Social Presence
                                                                </h3>
                                                        </div>
                                                </div>
                                                <div class="col-md-12 socialmediaiconssection">
                                                        <a href="#" class="fa fa-facebook" (click)="isUrlFormOpen=true"></a>
                                                        <a href="#" class="fa fa-twitter" (click)="isUrlFormOpen=true"></a>
                                                        <a href="#" class="fa fa-linkedin" (click)="isUrlFormOpen=true"></a>
                                                        <a href="#" class="fa fa-yahoo" (click)="isUrlFormOpen=true"></a>
                                                        <a href="#" class="fa fa-youtube" (click)="isUrlFormOpen=true"></a>
                                                        <a href="#" class="fa fa-google" (click)="isUrlFormOpen=true"></a>
                                                        <a href="#" class="fa fa-skype" (click)="isUrlFormOpen=true"></a>
                                                        <a href="#" class="fa fa-medium" (click)="isUrlFormOpen=true"></a>
                                                </div>

                                                <div class="col-md-6" *ngIf="isUrlFormOpen">
                                                        <div class="form-group m-form__group">
                                                              
                                                                
                                                                    <input class="form-control m-input" name="name" placeholder="" type="text" value="Enter URL">
                                                                    <span class="m-form__help">
                                                                        Enter The URL Here
                                                                    </span>
                                                                
                                                            </div>
                                                            <button class="btn btn-primary"  (click)="isUrlFormOpen=false"> Save URL
                                                            </button>

                                                            <button style="margin-left:10px;" class="btn btn-default"  (click)="isUrlFormOpen=false"> Close
                                                                </button>

                                                </div>

                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--end: Form Wizard Step 1-->  							<!--begin: Form Wizard Step 2-->
                                <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                                    <div class="row">
                                        <div class="col-xl-8 offset-xl-2">
                                            <div class="m-form__section m-form__section--first">
                                                    <div class="col-md-12 text-center">
                                                            <img src="./assets/app/media/img/logos/vease_logo.png" style="width:130px; height:130px;">
                                                        </div>
                                                <div class="m-form__heading">
                                                    <h3 class="m-form__heading-title">
                                                        Company Details
                                                    </h3>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                        <div class="col-lg-12">
                                                                <label class="form-control-label">
                                                                    Company Name:
                                                                </label>
                                                                <input type="text" name="company_name" class="form-control m-input" placeholder="" value="Veaze">
                                                                <span class="m-form__help">
                                                                    Please Enter The Company Name
                                                                </span>
                                                            </div>

                                                    <div class="col-lg-12">
                                                        <label class="form-control-label">
                                                            * URL:
                                                        </label>
                                                        <input type="url" name="account_url" class="form-control m-input" placeholder="" value="http://sinortech.vertoffice.com">
                                                        <span class="m-form__help">
															Please enter your preferred URL  to your dashboard
														</span>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <label class="form-control-label">
                                                            * Username:
                                                        </label>
                                                        <input type="text" name="account_username" class="form-control m-input" placeholder="" value="nick.stone">
                                                        <span class="m-form__help">
															Your username to login to your dashboard
														</span>
                                                    </div>
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <label class="form-control-label">
                                                            *Password:
                                                        </label>
                                                        <input type="password" name="account_password" class="form-control m-input" placeholder="" value="qwerty">
                                                        <span class="m-form__help">
															Please use letters and at least one number and symbol
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                            <div class="m-form__section">
                                               <div class="row">
                                                   <div class="col-md-6">
                                                        <div  class="m-form__section">
                                                                <div  class="m-form__heading">
                                                                    <h3  class="m-form__heading-title">
                                                                        Billing Information
                                                                    </h3>
                                                                </div>
                                                                <div  class="form-group m-form__group row">
                                                                    <div  class="col-lg-12">
                                                                        <label  class="form-control-label billAddressing">
                                                                            * Address:
                                                                        </label>
                                                            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #company [formControl]="companyForm" [(ngModel)]="companyAddressModel">
                                                                        <!-- <input  class="form-control m-input" name="billing_address_1" placeholder="" type="text" value="Headquarters 1120 N Street Sacramento 916-654-5266" aria-describedby="billing_address_1-error" aria-invalid="false"> -->
                                                                    </div>
                                                                </div>
                                                                <div  class="form-group m-form__group row">
                                                                    <div  class="col-lg-12">
                                                                        <label  class="form-control-label">
                                                                            State/Province
                                                                        </label>
                                                            <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #company [formControl]="companyForm"> -->
                                                                        <input  class="form-control m-input" name="billing_address_2" placeholder="" type="text" value="{{companyState}}">
                                                                    </div>
                                                                </div>
                                                                <div  class="form-group m-form__group row">
                                                                    <div  class="col-lg-12">
                                                                        <label  class="form-control-label">
                                                                            * City:
                                                                        </label>
                                                                        <input  class="form-control m-input" name="billing_city" placeholder="" type="text" value="{{companyMainCity}}">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group m-form__group row">
                                                                      
                                                                            <div  class="col-lg-12">
                                                                                <label  class="form-control-label">
                                                                                    * ZIP:
                                                                                </label>
                                                                                <input  class="form-control m-input" name="billing_zip" placeholder="" type="text" value="">
                                                                            </div>
                                                                </div>
                                                            </div>
                                                   </div>
                                                   <div class="col-md-6">
                                                        <!-- <div class="checkbox checkbox-info mt-o pt-0">
                                                                <input id="checkbox4" type="checkbox" (change)="yourfunc($event)" >
                                                                <label for="checkbox4">
                                                                    Same as Billing Info
                                                                </label>
                                                            </div> -->
                                                        <div  class="m-form__section">
                                                            <div  class="m-form__section">
                                                                <div  class="m-form__heading">
                                                                    
                                                                            <h3  class="m-form__heading-title">
                                                                                    Shipping Information
                                                                                </h3>
                                                                    
                                                                </div>
                                                                <div class="row">
                                                                           <label class="m-checkbox m-checkbox--solid m-checkbox--brand shipping_checkbox">
                                                                                <input name="account_communication[]" type="checkbox" type="checkbox" (change)="yourfunc($event)">
                                                                                Same as Billing Info
                                                                                <span></span>
                                                                            </label>
                                                                    </div>
                                                                <div  class="form-group m-form__group row">
                                                                    <div  class="col-lg-12">
                                                                        <label  class="form-control-label">
                                                                            * Address:
                                                                        </label>
                                                                        <input  class="form-control m-input" name="billing_address_1" placeholder="" type="text"  aria-describedby="billing_address_1-error" aria-invalid="false" value="{{billAddress}}">
                                                                    </div>
                                                                </div>
                                                                <div  class="form-group m-form__group row">
                                                                    <div  class="col-lg-12">
                                                                        <label  class="form-control-label">
                                                                            State/Province:
                                                                        </label>
                                                                        <input  class="form-control m-input" name="billing_address_2" placeholder="" type="text" value="{{billState}}">
                                                                    </div>
                                                                </div>
                                                                <div  class="form-group m-form__group row">
                                                                    <div  class="col-lg-12">
                                                                        <label  class="form-control-label">
                                                                            * City:
                                                                        </label>
                                                                        <input  class="form-control m-input" name="billing_city" placeholder="" type="text" value="Polo Alto" value="{{billCity}}">
                                                                    </div>
                                                                   
                                                                </div>

                                                                <div class="form-group m-form__group row">
                                                                      
                                                                            <div  class="col-lg-12">
                                                                                <label  class="form-control-label">
                                                                                    * ZIP:
                                                                                </label>
                                                                                <input  class="form-control m-input" name="billing_zip" placeholder="" type="text" value="">
                                                                            </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                    </div>
                                               </div>

                                              
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-12">
                                                            <div class="m-form__heading">
                                                                    <h3 class="m-form__heading-title">
                                                                        Social Presence
                                                                    </h3>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-12 socialmediaiconssection">
                                                            <a href="#" class="fa fa-facebook" (click)="isCompanyUrlFormOpen=true"></a>
                                                            <a href="#" class="fa fa-twitter" (click)="isCompanyUrlFormOpen=true"></a>
                                                            <a href="#" class="fa fa-linkedin" (click)="isCompanyUrlFormOpen=true"></a>
                                                            <a href="#" class="fa fa-yahoo" (click)="isCompanyUrlFormOpen=true"></a>
                                                            <a href="#" class="fa fa-youtube" (click)="isCompanyUrlFormOpen=true"></a>
                                                            <a href="#" class="fa fa-google" (click)="isCompanyUrlFormOpen=true"></a>
                                                            <a href="#" class="fa fa-skype" (click)="isCompanyUrlFormOpen=true"></a>
                                                            <a href="#" class="fa fa-medium" (click)="isCompanyUrlFormOpen=true"></a>
                                                    </div>

                                                    <div class="col-md-6" *ngIf="isCompanyUrlFormOpen">
                                                            <div class="form-group m-form__group">
                                                                  
                                                                    
                                                                        <input class="form-control m-input" name="name" placeholder="" type="text" value="Enter URL">
                                                                        <span class="m-form__help">
                                                                            Enter The URL Here
                                                                        </span>
                                                                    
                                                                </div>
                                                                <button class="btn btn-primary" (click)="isCompanyUrlFormOpen=false"> Save URL
                                                                </button>

                                                                <button style="margin-left:10px;" class="btn btn-default" (click)="isCompanyUrlFormOpen=false"> Close
                                                                    </button>

                                                    </div>
    
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Wizard Step 2-->  							<!--begin: Form Wizard Step 3-->
                           							<!--begin: Form Wizard Step 4-->
                                <div class="m-wizard__form-step" id="m_wizard_form_step_3">
                                    <div class="row">
                                        <div class="col-xl-8 offset-xl-2">
                                            <!--begin::Section-->
                                            <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
                                                <!--begin::Item-->
                                                <div class="m-accordion__item active">
                                                    <div class="m-accordion__item-head"  role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="  false">
														<span class="m-accordion__item-icon">
															<i class="fa flaticon-user-ok"></i>
														</span>
                                                        <span class="m-accordion__item-title">
															1. Client Information
														</span>
                                                        <span class="m-accordion__item-mode"></span>
                                                    </div>
                                                    <div class="m-accordion__item-body collapse show" id="m_accordion_1_item_1_body">
                                                        <!--begin::Content-->
                                                        <div class="tab-content  m--padding-30">
                                                            <div class="m-form__section m-form__section--first">
                                                                <div class="m-form__heading">
                                                                    <h4 class="m-form__heading-title">
                                                                        Account Details
                                                                    </h4>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        URL:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			sinortech.vertoffice.com
																		</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        Username:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			sinortech.admin
																		</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        Password:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			*********
																		</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                                            <div class="m-form__section">
                                                                <div class="m-form__heading">
                                                                    <h4 class="m-form__heading-title">
                                                                        Client Settings
                                                                    </h4>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        User Group:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			Customer
																		</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        Communications:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			Phone, Email
																		</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Content-->
                                                    </div>
                                                </div>
                                                <!--end::Item-->  											<!--begin::Item-->
                                                <div class="m-accordion__item">
                                                    <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_2_head" data-toggle="collapse" href="#m_accordion_1_item_2_body" aria-expanded="    false">
														<span class="m-accordion__item-icon">
															<i class="fa  flaticon-placeholder"></i>
														</span>
                                                        <span class="m-accordion__item-title">
															2. Company Information														</span>
                                                        <span class="m-accordion__item-mode"></span>
                                                    </div>
                                                    <div class="m-accordion__item-body collapse" id="m_accordion_1_item_2_body">
                                                        <!--begin::Content-->
                                                        <div class="tab-content  m--padding-30">
                                                            <div class="m-form__section m-form__section--first">
                                                                <div class="m-form__heading">
                                                                    <h4 class="m-form__heading-title">
                                                                        Company Details
                                                                    </h4>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        URL:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			veaze.com
																		</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        Username:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			sinortech.admin
																		</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group m-form__group m-form__group--sm row">
                                                                    <label class="col-xl-4 col-lg-4 col-form-label">
                                                                        Password:
                                                                    </label>
                                                                    <div class="col-xl-8 col-lg-8">
																		<span class="m-form__control-static">
																			*********
																		</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                            
                                                        </div>
                                                        <!--end::Content-->
                                                    </div>
                                                </div>
                                                <!--end::Item-->  											<!--begin::Item-->
                                                <div class="m-accordion__item">
                                                    <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_3_head" data-toggle="collapse" href="#m_accordion_1_item_3_body" aria-expanded="    false">
														<span class="m-accordion__item-icon">
															<i class="fa  flaticon-alert-2"></i>
														</span>
                                                        <span class="m-accordion__item-title">
															3. Billing &amp; Shipping
														</span>
                                                        <span class="m-accordion__item-mode"></span>
                                                    </div>
                                                    <div class="m-accordion__item-body collapse" id="m_accordion_1_item_3_body">
                                                        <div class="tab-content  m--padding-30">
                                                                <div class="m-form__section">
                                                                        <div class="m-form__heading">
                                                                            <h4 class="m-form__heading-title">
                                                                                Shipping &amp; Billing
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-group m-form__group m-form__group--sm row">
                                                                            <label class="col-xl-4 col-lg-4 col-form-label">
                                                                                Shipping:
                                                                            </label>
                                                                            <div class="col-xl-8 col-lg-8">
                                                                                <span class="m-form__control-static">
                                                                                    7 Days Standard Delievery
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group m-form__group m-form__group--sm row">
                                                                            <label class="col-xl-4 col-lg-4 col-form-label">
                                                                                Bill Amount:
                                                                            </label>
                                                                            <div class="col-xl-8 col-lg-8">
                                                                                <span class="m-form__control-static">
                                                                                    $220
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Item-->
                                            </div>
                                            <!--end::Section-->
                                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Wizard Step 4-->
                            </div>
                            <!--end: Form Body -->    						<!--begin: Form Actions -->
                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-4 m--align-left">
                                            <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
												<span>
													<i class="la la-arrow-left"></i>
													&nbsp;&nbsp;
													<span>
														Back
													</span>
												</span>
                                            </a>
                                        </div>
                                        <div class="col-lg-4 m--align-right">
                                            <a routerLink="/dashboard" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
												<span>
													<i class="la la-check"></i>
													&nbsp;&nbsp;
													<span>
														Submit
													</span>
												</span>
                                            </a>
                                            <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
												<span>
													<span>
														Save & Continue
													</span>
													&nbsp;&nbsp;
													<i class="la la-arrow-right"></i>
												</span>
                                            </a>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                    </div>
                    <!--end: Form Wizard Form-->
                </div>
                <!--end: Form Wizard-->
            </div>
            <!--End::Main Portlet-->
        </div>
    </div>
</div>







