.list-group.list-group-flush  a
{
    font-size:12px;
}
.form-group label {
    font-size: 12px !important; 
   }

   .m-portlet
   {
       height:100%;
   }



   .logoImageInfoForm
   {
       max-width: 170px;
       margin-bottom: 10px;
       margin-top: 20px;
   }

   .list-group-item
   {
       border: none;
   }
 .m-content
 {
     /*padding:0px !important;*/
 }
 .m-portlet
 {
     /*
    margin: 0px;
    padding: 0px;
    */
    background-color: #F2F3F8;
    box-shadow:none;
 }

 .ghostWhiteColorSideBar
 {
     background-color: ghostwhite;
 }
 .ghostWhiteColorSideBar
 {
    padding:15px 25px;
 }
 .changingColumnRight
 {
     padding-top: 18px; 
 }
 .nav-link
 {
     border: none;
 }
 .nav-link.active
 {
     border: 0px;
     border-bottom: 1px solid grey;
 }
 .tab-content .nav-link 
 {
     background-color:#F2F3F8;
 } 
 .m-content{
     padding:0px;
     height:100%;
 }

.m-portlet__body
{
    height: 100%;
}
.m-portlet
{
    margin: 0px;
}
.full-height
{
    height:100%;
}
