<div class="container" style="padding-top: 20px;">
    <!-- <div class="row">
        <div class="col-md-6">
            <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="" class="form-control-label strong">Create Permission</label>
                    <input type="text" placeholder="Enter permission name here" class="form-control" formControlName="permissionName">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]="!permissionForm.valid">Save</button>
                </div>
               </form>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Permission Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of permissionService.getPermissions()">
                  <tr>
                    <td>{{item.name}}</td>
                    <td><button class="btn btn-danger" (click)="onDelete(item)">Delete</button></td>
                  </tr>
                </tbody>
              </table>
        </div> -->
    <div class="row ">

        <div class="col-xl-12" *ngIf="!isPermissionAddViewOpen">
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height greyBackground">
                        <div class="m-portlet__body">
                                <button (click)="isPermissionAddViewOpen=!isPermissionAddViewOpen;" class="btn btn-default"><i class="fa fa-user-plus" ></i> Add New Role </button>
                            <table class="table table-bordered RolesTableViewEdit">
                                    <tr>
                                           <th  scope="col">Role</th>
                                           <th  scope="col">Created At</th>
                                           <th  colspan="2" scope="col">Actions</th>
                                    </tr>
                                    <tr *ngFor="let item of permissionService.getPermissions()">
                                            <td>{{item.name}}</td>
                                            <td>{{item.created_at}}</td>
                                            <td>
                                                <i class="fa fa-info"></i>
                                                <i class="fa fa-trash" (click)="onDelete(item)" style="margin-left: 15px;"></i>
                                                <!-- <button class="btn m-btn--pill  btn-sm  btn-outline-warning" type="button">
                                                    Edit
                                                </button> -->
                                            </td>
                                            <!-- <td>
                                                    <button (click)="onDelete(item)" class="btn m-btn--pill btn-sm    btn-outline-danger" type="button">
                                                            Delete
                                                        </button>
                                            </td> -->
                                     </tr>
                            </table>
                        </div>
                </div>
        </div>

    <div class="col-xl-12 "  *ngIf="isPermissionAddViewOpen">
        <!--begin:: Widgets/Top Products-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height greyBackground" style="padding-bottom: 30px;">
            <div class="m-portlet__body full-height-element">
                    <button (click)="isPermissionAddViewOpen=!isPermissionAddViewOpen; editRoleIndex=undefined;" class="btn btn-link" style="padding:0px;"><i class="fa fa-chevron-left"  ></i> Back </button>
                <div class="form-group m-form__group">
                    <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="" class="form-control-label strong">Create Permission</label>
                            <input type="text" placeholder="Enter permission name here" class="form-control" formControlName="permissionName">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" [disabled]="!permissionForm.valid">Save</button>
                        </div>
                       </form>
                </div>

                  <!-- <button class="btn btn-primary pull-right" (click)="saveRole(roleName.value)" type="reset" style="margin-bottom:14px;">
                        Save
                    </button> -->
                    <!-- <div>
                        <button class="btn btn-primary" type="submit" [disabled]="!permissionForm.valid">Save</button>
                    </div> -->

            </div>
        </div>
        <!--end:: Widgets/Top Products-->
    </div>


</div>
</div>