<div  appunwraptag="" class="m-subheader">
    <div  class="d-flex align-items-center">
        <div  class="mr-auto">
                            <h3  class="m-subheader__title" style="display:inline-block">
                            Permission Settings 
                            </h3>
        </div>
</div>
    
</div>

<div class="m-subheader breadcrumsubheader">

    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
            <li class="m-nav__item m-nav__item--home">
                <a class="m-nav__link m-nav__link--icon" ng-reflect-href="#" routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="/dashboard">
                    <i class="m-nav__link-icon la la-home"></i>
                </a>
            </li>
            <li class="m-nav__separator">
                -
            </li>
        
            <li class="m-nav__item">
                <a class="m-nav__link" href="" ng-reflect-href="">
                    <span class="m-nav__link-text">
                        Settings
                    </span>
                </a>
            </li>
            <li class="m-nav__separator">
                    -
                </li>
            
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
                        <span class="m-nav__link-text">
                            Permission Settings
                        </span>
                    </a>
                </li>
        </ul>
</div>
    <!-- <div class="row">
        <div class="col-md-6">
            <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="" class="form-control-label strong">Create Permission</label>
                    <input type="text" placeholder="Enter permission name here" class="form-control" formControlName="permissionName">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]="!permissionForm.valid">Save</button>
                </div>
               </form>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Permission Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of permissionService.getPermissions()">
                  <tr>
                    <td>{{item.name}}</td>
                    <td><button class="btn btn-danger" (click)="onDelete(item)">Delete</button></td>
                  </tr>
                </tbody>
              </table>
        </div> -->
        <!-- <loading-spinner-settings></loading-spinner-settings> -->
            <!-- <loading-spinner-settings *ngIf="loadingSpinner" ></loading-spinner-settings> -->

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
    <loading-spinner-settings *ngIf="loadingSpinner" ></loading-spinner-settings>
    <div class="row ">

        <div class="col-xl-12" *ngIf="!isPermissionAddViewOpen && !isPermissionUpdateViewOpen && !loadingSpinner">
               
                     
                         <button style="margin-bottom:15px;" (click)="isPermissionAddViewOpen=!isPermissionAddViewOpen;" class="btn btn-default"><i class="fa fa-user-plus" ></i> Add New Permission </button>
                            <table class="table table-striped RolesTableViewEdit">
                                <thead>
                                    <tr>
                                           <th  scope="col">Role</th>
                                           <th  scope="col">Created At</th>
                                           <th class="text-center" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of permissionService.getPermissions()">
                                            <td>{{item.name}}</td>
                                            <td>{{item.created_at}}</td>
                                            <td class="text-center">
                                                <!-- <i class="fa fa-edit" (click)="isPermissionUpdateViewOpen=!isPermissionUpdateViewOpen; onUpdate(item.name, item.rand_id)"></i>
                                                <i class="fa fa-trash" (click)="onDelete(item)" style="margin-left: 15px;"></i> -->

                                                <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:;" ng-reflect-href="javascript:;" title="View details">
                                                        <i class="la la-ellipsis-h"></i>
                                                </a>
                                                <a  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:"(click)="isPermissionUpdateViewOpen=!isPermissionUpdateViewOpen; onUpdate(item.name, item.rand_id)">
                                                        <i  class="la la-edit"></i>
                                                </a>
                                                <a  class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:" (click)="onDelete(item)"title="Delete">
                                                        <i  class="la la-trash"></i>
                                                    </a>
                                                <!-- <button class="btn m-btn--pill  btn-sm  btn-outline-warning" type="button">
                                                    Edit
                                                </button> -->
                                            </td>
                                            <!-- <td>
                                                    <button (click)="onDelete(item)" class="btn m-btn--pill btn-sm    btn-outline-danger" type="button">
                                                            Delete
                                                        </button>
                                            </td> -->
                                     </tr>
                                </tbody>
                            </table>
                       
                
        </div>

    <div class="col-xl-12 "  *ngIf="isPermissionAddViewOpen">
        <!--begin:: Widgets/Top Products-->
                    <button (click)="isPermissionAddViewOpen=!isPermissionAddViewOpen; editRoleIndex=undefined;" class="btn btn-link" style="padding:0px;"><i class="fa fa-chevron-left"  ></i> Back </button>
                <div class="form-group m-form__group">
                    <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="" class="form-control-label strong">Create Permission</label>
                            <input type="text" placeholder="Enter permission name here" class="form-control" formControlName="permissionName">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" [disabled]="!permissionForm.valid">Save</button>
                        </div>
                       </form>
                </div>

                  <!-- <button class="btn btn-primary pull-right" (click)="saveRole(roleName.value)" type="reset" style="margin-bottom:14px;">
                        Save
                    </button> -->
                    <!-- <div>
                        <button class="btn btn-primary" type="submit" [disabled]="!permissionForm.valid">Save</button>
                    </div> -->
       
    </div>
    

    <!-- Edit section begins here -->

    <div class="col-xl-6 "  *ngIf="isPermissionUpdateViewOpen">
            <!--begin:: Widgets/Top Products-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height greyBackground" style="padding-bottom: 30px;">
                <div class="m-portlet__body full-height-element">
                        <button (click)="isPermissionUpdateViewOpen=!isPermissionUpdateViewOpen; editRoleIndex=undefined;" class="btn btn-link" style="padding:0px;"><i class="fa fa-chevron-left"  ></i> Back </button>
                    <div class="form-group m-form__group">
                        <form [formGroup]="permissionUpdateForm" (ngSubmit)="UpdateData()">
                            <div class="form-group">
                                <label for="" class="form-control-label strong">Create Permission</label>
                                <input type="text" placeholder="Enter permission name here" class="form-control" formControlName="UpdateName" [value]="onUpdatePermissionName">
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit" [disabled]="!permissionUpdateForm.valid">Update</button>
                                <!-- <button class="btn btn-primary" type="submit">Update</button> -->
                            </div>
                           </form>
                    </div>
                </div>
            </div>
        </div>


</div>
    </div>
</div>