:host
{
    width: 100% !important;
}
.form-group label {
    font-size: 12px !important; 
   }


   app-role-settings {
    width: 100% !important;
}
 .greyBackground
 {
    background-color: #F2F3F8;
    box-shadow: none;
 }
 thead tr
 {
    background-color: #555;
    color: white;
 }