@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* You can add global styles to this file, and also import other style files */
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
.m-nav-sticky
{
    display:none;
}
.m-grid--ver-desktop.m-grid--desktop.m-body
{
    margin-top: -14px;
}
.m-subheader
{
    padding: 10px 30px 0 30px;;
}
.m-subheader.breadcrumsubheader
{
    padding-top: 0px !important;
    margin-top: -7px !important;
}
.breadcrumsubheader .m-nav .m-nav__item > .m-nav__link .m-nav__link-text
{
    font-size:11px !important;
}

.customhr
{
    margin-top: 0.5rem;
}
.marginTopNegative14
{
    margin-top: -14px;
}

//Custom Media Queries
@media (max-width: 992px) {
    .m-subheader .m-subheader__title {
      margin: 20px 0 0 0 !important;
    }

    .m-subheader .m-subheader__daterange {
        margin-top: 10px;
    }
      }