@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* You can add global styles to this file, and also import other style files */
.m-nav-sticky
{
    display:none;
}
/*
h1 , h2, h3 , h4 , h5 , h6, a, span:not(.glyphicon):not(.glyphicon):not(.fa) , td , th, button, input , select, textarea, p, label ,div, li
{
    font-family: Museo Sans !important;
}
body , a , p , button , td,  span:not(.glyphicon):not(.fa), label, th, div, li
{
    font-size:1em
}
th
{
    font-weight: 600 !important;
}
body
{
    line-height:1.563em;
}
body small 
{
    font-size:1em;
    line-height:1.438em;
}
h1
{
    font-size:3em;
    line-height: 1.333em ;
}
h1 small 
{
 font-size:2em;
 line-height:1.344em;
} 
h2 
{
    font-size:2.25em;
    line-height:1.361em ;
}
h2 small
{
    font-size:1.625em;
    line-height:1.346em;
} 
h3
{
font-size:1.75em;
line-height: 1.393em;
} 

h3 small
{
font-size:  1.375em;
line-height: 1.409em;
}
h4
{
 font-size:1.125em;
 line-height: 1.5em;
} 
H4 small
{
  font-size:1.123em;
  line-height: 1.444em;
}  












.m-subheader
{
    padding:0px 30px;
}
.breadcrumsubheader 
{
    margin-top: -10px;
}
.m-subheader + .customhr
{
    margin-top: 0px;
}



*/
.m-grid--ver-desktop.m-grid--desktop.m-body
{
    margin-top: -14px;
}
.m-subheader
{
    padding: 10px 30px 0 30px;;
}
.m-subheader.breadcrumsubheader
{
    padding-top: 0px !important;
    margin-top: -7px !important;
}
.breadcrumsubheader .m-nav .m-nav__item > .m-nav__link .m-nav__link-text
{
    font-size:11px !important;
}

.customhr
{
    margin-top: 0.5rem;
}
.marginTopNegative14
{
    margin-top: -14px;
}