<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" >
	<div class="d-flex align-items-center">
		<div class="mr-auto row" style="width:80%;">

			<div class="col-md-6">
					<h3 class="m-subheader__title" style="display:inline-block">
							Catalog
						</h3>

						
			</div>


		
		</div>




     
		<a href="javascript:;" *ngIf="!this.isServiceFormShown;"  class="btn btn-link pull-right" (click)="isServiceFormShown=true"><i class="fa fa-plus"></i> Add New Serivce</a>
		<a href="javascript:;" *ngIf="!this.isServiceFormShown;"  class="btn btn-link pull-right" ><i class="fa fa-plus"></i> Add Bundle</a>


		
		
	</div>
	
</div>
<div class="m-subheader breadcrumsubheader">
	
		<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a class="m-nav__link m-nav__link--icon" routerLink="/dashboard" ng-reflect-href="#">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
			
				<li class="m-nav__item">
					<a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Catalog
						</span>
					</a>
				</li>
			</ul>
</div>
<hr class="customhr" />


<!-- END: Subheader -->
<div class="m-content">
	<!--Begin::Section-->
	

<div class="row " *ngIf="!isServiceFormShown">

	<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active show" data-toggle="tab" href="#m_tabs_services" ng-reflect-href="#m_tabs_services">
							Services
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#m_tabs_bundles" ng-reflect-href="#m_tabs_bundles">
							Bundles
						</a>
					</li>
				
				</ul>

				<div class="tab-content">
						<div class="tab-pane active" id="m_tabs_services" role="tabpanel">
			
			
							<div class="row" *ngIf="!isServiceFormShown">
									<table  class="table table-bordered servicesCatalogTable">
											<thead >
											  <tr >
												 <th ></th>
												<th  scope="col">Service Name </th>
												<th  scope="col">Category</th>
												<th  scope="col">Sub Category</th>
												<th  scope="col" class="descTable">Description</th>
												<th  scope="col">Price</th>
												<th  scope="col">Active</th>
												<th  colspan="2" scope="col">Actions</th>
											  </tr>
											</thead>
											<tbody >
											<tr *ngFor="let service of services; let i=index;">
															<td ><img  src="{{service.pic}}"></td>
															<td >{{service.serviceName}}</td>
															<td >{{service.serviceCategory}}</td>
															<td >{{service.serviceSubCategory}}</td>
															<td >{{service.serviceDescription}}</td>
															<td>{{service.price}}</td>
															<td>
																	<span class="m-switch m-switch--outline m-switch--sm m-switch--success m-switch--icon">
																			<label>
																				<input [checked]="service.Active" name="" type="checkbox">
																				<span></span>
																			</label>
																		</span>
															
															
															<td ><button  class="btn m-btn--pill btn-sm   btn-outline-warning" type="button">
																	Edit
																</button></td>
							
																<td ><button  (click)="deleteCatalog(i)"  class="btn m-btn--pill  btn-sm  btn-outline-danger" type="button">
																	Delete
																	</button></td>
													</tr>
											</tbody>
										  </table>
							</div>
			
			
							
			
			
								
						</div>
						<div class="tab-pane" id="m_tabs_bundles" role="tabpanel">
							It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</div>
					</div>
	</div>

	

</div>



<div class="row"  *ngIf="isServiceFormShown">
		<div class="col-md-12">


			<button class="btn btn-link" (click)="isServiceFormShown=!isServiceFormShown" style="padding-left:0px;"><i class="fa fa-chevron-left"></i> Back</button>


			<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active show" data-toggle="tab" href="#serviceform_newcatalog" ng-reflect-href="#serviceform_newcatalog">
							New Catalog Item
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#serviceform_tasks" ng-reflect-href="#serviceform_tasks">
							List
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#serviceform_location" ng-reflect-href="#serviceform_location">
							Location
						</a>
					</li>
				
				</ul>


				<div class="tab-content">
						<div class="tab-pane active " id="serviceform_newcatalog" role="tabpanel">

							<div class="row">
								<div class="col-md-6">
										<div class="form-group m-form__group">
												<label>Service Category</label>
												<select [(ngModel)]="serviceGroup" class="form-control m-input m-input--square">
														<option value="Personal">
																Personal
															</option>
															<option value="Auto">
																Auto
															</option>
															
															<option value="Health">
																Health
															</option>
												</select>
										</div>


										<div class="form-group m-form__group" *ngIf="(serviceGroup=='Personal')" >
												<label>Service Sub-Category:</label>
												<select class="form-control m-input m-input--square" #personalSubCategory>
														<option value="Makeup">
																Makeup
															</option>
															<option value="Nail Technician">
																Nail Technician
															</option>
															
															<option value="Hair Stylists">
																Hair Stylists
															</option>
							
															<option value="Eyelash Extensions">
																	Eyelash Extensions
															</option>
							
															<option value="Barber">
																	Barber
															</option>
															<option value="Barber">
																	Massage Therapist
															</option>

															<option value="Barber">
																	Waxing
															</option>

												</select>
										</div>
										
										
										<div class="form-group m-form__group" *ngIf="(serviceGroup=='Auto')" >
												<label>Service Sub-Category:</label>
												<select class="form-control m-input m-input--square" #autoSubCategory>
														<option value="Car Dealing">
																Car Dealing
															</option>
															<option value="Car Wash">
																Car Wash
															</option>
															
												</select>
										</div>
							
							
										<div class="form-group m-form__group" *ngIf="(serviceGroup=='Health')" >
												<label>Service Sub-Category:</label>
												<select class="form-control m-input m-input--square"  #healthSubCategory>
														<option value="Personal Trainer">
																Personal Trainer
															</option>
															<option value="Yoga Instruction">
																	Yoga Instruction
															</option>
															<option value="Yoga Instruction">
																	Martial Arts
															</option>
															
												</select>
										</div>


										<div class="form-group m-form__group">
												<label>
													Service Name
												</label>
												<input placeholder="Service Name" class="form-control m-input m-input--square"  type="text" #catalogServiceName>
											
										</div>


										<div class="form-group m-form__group">
												<label >
													Description
												</label>
												<textarea class="form-control m-input"  rows="3" #catalogServiceDescription></textarea>
										</div>


									
										
								</div>

							
								<div class="col-md-6">
										<div class="form-group m-form__group" >
												<label>Service Frequency:</label>
												<select class="form-control m-input m-input--square" >
														<option value="1">
																1
															</option>
															<option value="2">
																	2
															</option>
															<option value="3+">
																	3+
															</option>
															<option value="5+">
																	5+
															</option>
															<option value="10+">
																	10+
															</option>
															
												</select>
										</div>


										<div class="form-group m-form__group">
												<label>
													Estimated Price
												</label>
												<input #catalogServicePrice placeholder="Estimated Price" class="form-control m-input m-input--square"  type="text">
											
										</div>


										<div class="form-group m-form__group" >
												<label>Currency:</label>
												<select class="form-control m-input m-input--square" >
														<option value="USD">
																USD
															</option>
															<option value="CAD">
																	CAD
															</option>
															<option value="PKR">
																	PKR
															</option>
															<option value="IND">
																	IND
															</option>
															
												</select>
										</div>

										<div class="uploadButtons">
										<button class="btn btn-link"><i class="fa fa-file-image-o"></i> Upload images</button>
										<button class="btn btn-link"><i class="fa fa-video-camera"></i> Link videos via urls</button>
										</div>

										
		
								</div>


								


							
									
							</div>

							
							
					
					
					
							



								
							


							

								
								

								
						</div>

						<div class="tab-pane" id="serviceform_tasks" role="serviceform_tasks">
								<button class="btn btn-default " style="float: right;margin-bottom: 8px;" data-toggle="modal" data-target="#addListItemModal"><i class="fa fa-plus"></i> Add New Item</button>
								
								<table class="table table-bordered">
										<thead>
											<tr>
												<th>
													Name
												</th>
												<th>
													Description
												</th>
												<th>
													Status
												</th>
												<th>
													Actions
												</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let theItem of listItems; let i=index;">
												<td>
													{{theItem.itemName}}
												</td>
												<td>
													{{theItem.itemDescription}}	
												</td>
												<td>

														<span class="m-switch m-switch--outline m-switch--sm m-switch--success m-switch--icon" >
																<label>
																	<input name="" type="checkbox" [checked]="theItem.approved">
																	<span></span>
																</label>
															</span>
												</td>
												<td><button (click)="editAnItem(i)" class="btn m-btn--pill btn-sm   btn-outline-warning" data-toggle="modal" data-target="#addListItemModal">
														Edit
													</button>
												</td>
												<td><button (click)="deleteAnItem(i)" class="btn m-btn--pill  btn-sm  btn-outline-danger" type="button" >
														Delete
												</button>
										    	</td>
											</tr>
										
										</tbody>
									</table>


								
						</div>

						<div class="tab-pane" id="serviceform_location" role="serviceform_tasks">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group m-form__group">
											<label>Select Location:</label>
											<select class="form-control m-input m-input--square">
													<option value="Default Location">
															Default Location
														</option>
														<option value="1st Location" >
																1st Location
														</option>
														<option value="2nd Location">
																2nd Location
														</option>
														<option value="3rd Location">
																3rd Location
														</option>
														<option value="4th Location" >
																4th Location
														</option>
														
											</select>
									</div>
								</div>



								<div class="col-md-12">

								<button class="btn btn-primary" (click)="addCatalog(catalogServiceName.value , catalogServiceDescription.value , catalogServicePrice.value)"> Save </button>	
								</div>

							

							</div>



								

							
								
						
						</div>
				</div>

	
				

				
	
	
		</div>
			
	
	</div >




</div>




	









	<div aria-labelledby="addListItemModal" class="modal fade" id="addListItemModal" role="dialog" tabindex="999">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							 List Item
						</h5>
						<button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">
								×
							</span>
						</button>
					</div>
					<div class="modal-body">
							
								<div class="form-group">
										<label class="form-control-label" >
											Item Name:
										</label>
										<input class="form-control" id="item-name" [value]="(editItemIndex!=undefined) ? listItems[editItemIndex].itemName : ''" type="text" #itemName>
									</div>

									<div class="form-group">
											<label class="form-control-label" >
												Item Description:
											</label>
											<textarea [value]="(editItemIndex!=undefined) ? listItems[editItemIndex].itemDescription : ''" class="form-control" id="item-name" type="text" #itemDescription></textarea>
									</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" (click)="addAnItem(itemName.value , itemDescription.value);" data-dismiss="modal" type="button">
							Save
						</button>
						<button class="btn btn-secondary" data-dismiss="modal" type="button" (click)="editItemIndex=undefined;">
							Close
						</button>
					
					</div>
				</div>
			</div>
		</div>



	<!-- Modals End-->
